@charset "UTF-8";
/* CSS Document - By Away
	http://www.dfuns.idv.tw */

.box{ margin:auto; letter-spacing:1px; width:100%; background:#C14644; border-radius:0px; font-size:18px; color:#fff; text-align:center; line-height:35px;
    transition: background 2s ease;
    -moz-transition: background 2s ease;
    -webkit-transition: background 2s ease;
    -ms-transition: background 2s ease;
    -o-webkit-transition: background 2s ease;}

.box:hover{ background:#D47D7D;font-size:18px; color:#EEEDCD;}